ul {
    padding: 0;
  }

  .social-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #contact .social-links li {
    width: 100%;
  }

  #contact .social-links li {
    width: auto;
    margin-left: 10px;
  }

  #contact a {
    text-decoration: none;
  }

  #contact p,
  a {
    font-size: 1.1rem;
  }

  #contact li a {
    display: flex !important;
    width: 40px !important;
    height: 40px !important;
  }

  #contact li a {
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    color: var(--color-text);
    border-radius: 50%;
    font-size: var(--font-lg);
    text-align: center;
    transition: color .5s cubic-bezier(.2, 1, .3, 1);
  }

  #contact li a {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 0;
    color: var(--color-text);
    transition: color .5s cubic-bezier(.2, 1, .3, 1);
  }

  #contact li a i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  #contact li a {
    width: auto;
  }

  #contact li a:hover {
    color: var(--primary);
  }