:root {
    --font-base: 15px;
    --font-md: 1.0666666667rem;
    --font-sm: 0.9333333333rem;
    --font-xsm: 0.8rem;
    --font-xxsm: 0.6666666667rem;
    --font-lg: 1.2rem;
    --font-xlg: 1.3333333333rem;
    --font-xxlg: 1.5333333333rem;
    --font-xxxlg: 2.5333333333rem;
    --font-line-height: 1.5;

    --primary: #FF6B00;
    --secondary: #F2D5BF;

    --color-text-light: #666;
    --color-text-lighter: #999;
    --color-text-muted: #bbb;
    --color-danger: #FF443A;
    --color-success: #30D158;
    --color-secondary-darker: #E8EDF2;
    --color-grey: #F5F7F9;
    --color-grey-light: #F8F8F8;
    --color-grey-lighter: #FCFCFC;
    --color-grey-dark: #f0f2f5;
    --color-grey-darker: #ecf0f5;
    --color-grey-darkest: #dde4ec;
    --color-dark: #6e747b;
    --color-grey-border: #eee;
    --color-grey-border-darker: #ddd;
    --color-white: white;
    --color-black: black;
    --color-yellow: #fcd34c;
    --color-green: #a2c870;
  }

*,::before,::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgba(228,228,231,var(--tw-border-opacity));
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

*,::before,::after {
    box-sizing: border-box
}

.mb-30 {
    margin-bottom: 30px !important;
}
html {
    -moz-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

html {
    font-size: calc(0.5em + 0.5vw);
}

body {
    overflow-x: hidden;
}


section {
    background-color: #fff4ed;
}

.container {
    width: 100%;
    max-width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .footer .footer-list.store-links-items a {
        padding: 7px 0;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}



/* 1- HEADER */
#header {
    background-color: #000000;
    z-index: 1050;
}

.navbar-brand {
    color: #FFF;
    text-align: center;
    text-shadow: 14px 12px 4.5px rgba(0, 0, 0, 0.30);
    font-size: 2rem;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-toggler {
    border-color: #ffffff9f;
}
.navbar-toggler-icon {
    width: 1.8em;
    height: 1.8em;
}

/* offcanvas */
.offcanvas {
    padding: 24vh 0 10vh;
    text-align: center;
}

.offcanvas .offcanvas-header {
    align-self: center;
}
.offcanvas .offcanvas-header  img {
    height: 9em;
    margin-bottom: 3em
}

.offcanvas .offcanvas-body h1 {
    position: relative;
    background-color: var(--primary);
    color: white;
    padding: 20px;
    margin-bottom: 1rem;
    width: 26rem;
    left: 10px;
    border-radius: 110px 0 0 110px;
}

ul {
    padding: 0;
  }

  .social-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .offcanvas-body .social-links li {
    width: 100%;
  }

  .offcanvas-body .social-links li {
    width: auto;
    margin-left: 10px;
  }

  .offcanvas-body a {
    text-decoration: none;
  }

  .offcanvas-body p,
  a {
    font-size: 1.1rem;
  }

  .offcanvas-body li a {
    justify-content: start;
    align-items: flex-end;
    padding: 10px 0;
    color: var(--color-text);
    border-radius: 50%;
    font-size: var(--font-lg);
    text-align: center;
    transition: color .5s cubic-bezier(.2, 1, .3, 1);
  }

  .offcanvas-body li a i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  .offcanvas-body li a {
    width: auto;
    font-size: large;
  }

  .offcanvas-body li a:hover {
    color: var(--primary);
  }






/* AI */
.bot {
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    align-content: center;
    padding:0.6em;
    background-color: var(--primary);
    border-radius: 50%;
    z-index: 1050;
    img {
        width: 3.7rem;
        height: 3.7rem;
    }

}



/* 2- HERO */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/home.jpg');
    ;
    background-size: cover;
    background-position: center;
}

.kasra-logo {
    display: block;
    max-width: 15%;
    height: auto;
    position: relative;
    top: -4px;
    left: -10px;
    width: 4vw;
}

.home-block {
    position: relative;
    padding: 40px 0;
}

.homecol {
    width: 22.852rem;
    height: 22.75rem;
}

@media only screen and (min-width:992px) {
    .homecol {
        width: 22.852rem;
        height: 22.75rem;
    }
    .homecol h1 {
        font-size: 3.3rem;
    }
    .homecol button {
        font-size: 1rem;
        padding: 0.7em 2.5em;
    }
    .homecol p {
        font-size: 1rem;
    }
}


@media only screen and (max-width:992px) {
    .homecol {
        width: 22.852rem;
        height: 22.75rem;
    }
    .homecol h1 {
        font-size: 3.3rem;
    }
    .homecol button {
        font-size: 1rem;
        padding: 0.7em 2.5em;
    }
    .homecol p {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 768px) {
    .home-block--bg {
        padding: 40px 0;
    }
    .homecol {
        width: 19.838rem;
        height: 19.75rem;
    }
    .homecol h1 {
        font-size: 3rem;
    }
    .homecol button {
        font-size: 1rem;
        padding: 0.5em 1.7em;
    }
    .homecol p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 576px) {

    .homecol {
        width: 27.834rem;
        height: 27.75rem;
    }
    .homecol h1 {
        font-size: 5rem;
    }
    .homecol button {
        font-size: 1.25rem;
        padding: 0.75em 2em;
    }
    .homecol p {
        font-size: 1.2rem;
    }
    .two-options {
        flex-direction: column;
    }
}




/* 2- REVIEWS */


/* card */
.card {
    padding: 25px;
    box-shadow: 3px 4px 10.7px 0px rgba(0, 0, 0, 0.25);
    border: none;
    text-align: center;
}

.card-body {
    padding: 0;
}
.card-body p {
    color: #666;
}

.card-title {
    color: rgba(0, 0, 0, 0.64);
}

.splide__arrows {
    position: absolute;
    pointer-events: none;
    top: -62px;
    left: 0;
    display: flex;
    width: 90px;
    margin: 0 -5px;
}
@media only screen and (max-width: 768px) {
    .splide__arrows {
        display: none;
    }
}
.splide__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    opacity: .7;
    background: #e8edf2;
    fill: #99a4ae;
}

.splide__arrow--prev {
    left: 1em;
}

.splide__arrow {
    background-color: #ecf0f5;
    background-color: var(--secondary);
    fill: #6e747b;
    fill: var(--color-dark);
}

.splide__arrows button {
    position: absolute;
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 3px;
    top: 0;
    transform: none;
    transform: initial;
    pointer-events: auto;
}

.splide__arrows .splide__arrow--prev, .splide__track>.splide__arrows .splide__arrow--prev {
    right: 1em;
    left: auto;
}

.splide__arrows .splide__arrow--next, .splide--rtl>.splide__track>.splide__arrows .splide__arrow--next {
    left: 1em;
    right: auto;
}
.splide__arrows button:first-of-type {
    right: 0;
    left: auto;
}

.splide__arrows button:last-of-type {
    left: 0;
    right: auto;
}
@media only screen and (min-width: 576px) {
    .card {
        width: 19rem;
        height: 21.375rem;
        border-radius: 1.25rem;
    }

    .card-title {
        font-size: 1.7rem;
        margin-bottom: 17px;
    }

    .card img {
        height: 6.5625rem;
        margin-bottom: 10px;
    }

    .card-body p {
        color: #666;
        font-size: 1rem;
    }

}

@media only screen and (min-width: 768px) {
    .card {
        width: 16rem;
        height: 18rem;
        border-radius: 1.25rem;
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .card img {
        height: 6.5625rem;
    }

    .card-body p {
        color: #666;
        font-size: 1rem;
    }

}
@media only screen and (min-width: 992px) {
    .card {
        width: 16rem;
        height: 18rem;
        border-radius: 1.25rem;

    }
}


@media only screen and (max-width: 576px) {
    .card {
        width: 25rem;
        height: 28.125rem;
        border-radius: 2.25rem;
    }

    .card-title {
        font-size: 2.6rem;
        margin-bottom: 15px;
    }

    .card img {
        height: 10.5625rem;
    }

    .card-body p {
        color: #666;
        font-size: 1.5rem;
    }
}


/* Popular Products */

.product .card {
    width: 20.625rem;
    height: 26.75rem;
    padding: 2.4rem;
    align-items: center;
}

.product .card img {
    width: 16rem;
    height: 14rem;
    border-radius: 10%;
    margin-bottom: 1rem;
}
.product .card .card-body {
    text-align: start;
}
.product .card .card-body .card-title {
    color: #000000;
}

.product .card .card-body .stars {
    left: 40px;
    position: absolute;
    color: var(--primary);
}
.product .card .d-flex {
    width: 100%;
}
.product .card .d-flex button {
    font-size: 0.9rem;
}
.product .card .d-flex p {
    margin-top: 6px;
}


@media only screen and (max-width: 600px) {
    .product .card {
        width: 30rem;
        height: 38.9rem;
        border-radius: 2.25rem;
        padding: 2.6rem;
    }

    .product .card img {
        width: 23rem;
        height: 26.285rem;
        border-radius: 10%;
        margin-bottom: 1rem;
    }
    .product .card .card-body {
        text-align: start;
    }
    .product .card .card-body .card-title {
        color: #000000;
        font-size: 2.5rem;
        margin-bottom: 1px;
    }
    .product .card .card-body p {
        font-size: 1.5rem;
    }
    .product .card .card-body .stars {
        font-size: larger;
    }
    .product .card .d-flex {
        width: 100%;
    }
    .product .card .d-flex button {
        font-size: 1.5rem;
    }
    .product .card .d-flex p {
        font-size: 1.6rem;
        margin-top: 8px;
    }
}




/* CATEGORIESs */

#categories {
    background-color: #ffefe3;
}
.categories .card {
    margin: 0 1.5rem 0 0;
    width: 16rem;
    height: 16rem;
    padding: 2.4rem;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/product.png');
    background-size: cover;
    background-position: center;
}

.categories .card img {
    width: 100%;
    height: 70%;
    border-radius: 1.25rem 1.25rem 0 0;
    margin-bottom: 1rem;
}
.categories .card {
    justify-content: center;
}
.categories .card .card-title {
    color: #ffffff;
    font-size: 2rem;
    line-height: inherit;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .categories .card {
        width: 16rem;
        height: 16rem;
        border-radius: 2.25rem;
        padding: 2.6rem;
    }

    .categories .card img {
        width: 23rem;
        height: 26.285rem;
        border-radius: 10%;
        margin-bottom: 1rem;
    }
    .categories .card .card-body {
        text-align: start;
    }
    .categories .card .card-body .card-title {
        color: #000000;
        font-size: 2.5rem;
        margin-bottom: 1px;
    }
}
















/* - FOOTER */
.footer {
background-color: #ffefe3;
}
.row {
    flex-wrap: wrap;
}

.footer_top {
    padding: 50px 0;
}

.footer_block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 0 0 20px;
}

.footer_block > *:first-child {
    flex: auto;
}


.title {
    font-size: 1.65rem;
    font-weight: 500;
}

.title--has-dash {
    position: relative;
    padding-right: 15px;
}

.title--has-dash:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 4px;
    background-color: var(--primary);
}



.footer .footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer .footer-list--row {
    flex-direction: row;
    flex-wrap: wrap;
}
.footer .footer-list li {
    width: 100%;

}

.footer .footer-list--row li {
    width: auto;
    margin-left: 10px;
}


a {
text-decoration: none;
}
.footer_block p, .footer_block a {
    font-size: 1.1rem;
}
ul {
    list-style-type: none;
}
body ul.footer-list--social-links li a {
    display: flex !important;
    width: 40px !important;
    height: 40px !important;
}
body ul.footer-list--social-links li a {
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: var(--color-text);
    border-radius: 50%;
    font-size: var(--font-lg);
    text-align: center;
    transition: color .5s cubic-bezier(.2,1,.3,1);
}
.footer .footer-list li a {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 0;
    color: var(--color-text);
    transition: color .5s cubic-bezier(.2,1,.3,1);
}
.footer .footer-list li a i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.footer .footer-list--row li a {
    width: auto;
}
.footer .footer-list li a:hover {
    color: var(--primary);
}

.footer_top .row > * {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.footer_bottom {
    padding: 15px 0;
    background-color: #ffe9d7;
    font-size: var(--font-sm);
}






